In order to reproduce, create a folder 'Headers' and place 'reuter_headlines.csv' and 'Gauradians.csv' in that folder

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

Load Headlines Datasets and drop invalid entries

In [ ]:
#Guardian has a date format of Day / Month / Year Format

#Custom date parser that assign NA if cannot convert to datetime
custom_date_parser = lambda x : pd.to_datetime(x, errors='coerce')

#Customize how to read the date
#custom_date_parser = lambda x : datetime.strptime(x, '%d-%m-%y')


df_g = pd.read_csv('Headers/guardian_headlines.csv', parse_dates=['Time'], date_parser=custom_date_parser)
print('raw dataframe size of guardian data', df_g.shape)
df_g = df_g.dropna(axis=0, how='any')
print('nan dropped shape', df_g.shape)

#read csv with date parser
df_r = pd.read_csv('Headers/reuters_headlines.csv', parse_dates=['Time'], date_parser=custom_date_parser)

#drop decription column (we only use headers)
df_r = df_r.drop(labels='Description', axis=1)

print('raw dataframe size of reuters data', df_r.shape)
df_g = df_g.dropna(axis=0, how='any')
print('nan dropped shape', df_r.shape)

raw dataframe size of guardian data (17800, 2)
nan dropped shape (17760, 2)
raw dataframe size of reuters data (32770, 2)
nan dropped shape (32770, 2)

Datasets and Prices have different time frame, in order to sync, we first step is to find a common interval that contains all data

In [ ]:
df = pd.concat([df_g, df_r], ignore_index=True)
df = df.sort_values(by='Time', ascending=False)
start = df['Time'].min()
end = df['Time'].max()
print(start,'\n', end)
headers = df.sort_values(by='Time')

2017-12-17 00:00:00
 2020-07-18 00:00:00

Confirm the trimed dataset is in the expected common range

In [ ]:
Timed_header = headers.set_index(keys='Time')
Timed_header

                                                    Headlines
Time
2017-12-17  The Guardian view on Ryanair’s model: a union-...
2017-12-17  Britons set new gin record after buying 47m bo...
2017-12-17  Unilever sells household name spreads to KKR f...
2017-12-17  Cryptocurrencies: City watchdog to investigate...
2017-12-17     Poundland suppliers hit by insurance downgrade
...                                                       ...
2020-07-18  Homebuyer loses £300,000 to fraudsters – but g...
2020-07-18  Democratising finance for all? An investment a...
2020-07-18  Empty city centres: 'I’m not sure it will ever...
2020-07-18  Disney cuts ad spending on Facebook amid growi...
2020-07-18   Johnson is asking Santa for a Christmas recovery

[50530 rows x 1 columns]

Save combined dataset into a csv

In [ ]:
Timed_header.to_csv('Data.csv')